h1,h2,h3,h4,h5, button, .amiibo-name{
    font-family: 'Bitter', serif;

}
#navbar{
    z-index: 1;
}


#navbar{
    background: url(../img/separadorOK.png);
    background-size:  100%;
}

#ribbon{
   
    background: url(../img/fondoMedio.png);
    background-repeat: repeat, repeat;
    background-position: bottom center, center center;
    background-size:  100%;
}

#ribbon::after{
    content: '';
    background-color: transparent;
    display: block;
    height: 20px;
    width: 50%;
    margin: 0 auto;
    position: relative;
    left: auto;
    margin-top: -40px;
}
#separator-ribbon{
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 2;
}
#separator-ribbon .content{
    width: 150%;
    height: 150px;
    margin-left: 0%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}
#birthday{
    background: url(../img/fondoMedio.png);
    position: relative;
    background-repeat: repeat, repeat;
    margin-top: -40px;
    z-index: 10;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

#birthday img{
    position: relative;
    margin-top:  auto;
}

#games{
    background: rgb(255,255,255);
    background: url(../img/fondodespues2.png);
    background-repeat: repeat, repeat;
    background-size: 100%;
    margin-top: 0px;
}

.card-border{
    background: url(../img/5.1\ arena\ de\ Combate.jpg);
    border-radius: 40px;
    overflow: hidden;
    transition: all ease-out 0.5s;
}
.card-border:hover{
    transform: scale(1.2);
}

.text-shadow{
    text-shadow: 5 5px 5px rgba(0,0,0,0.6);
}

#separator-amiibos{
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 2;
}

#separator-amiibos-footer{
    height: 20vw;
}

#amiibos{
    background: rgb(255,255,255);
    background: url(../img/qk.png);
    background-repeat: repeat, repeat;
    background-size: 100%;
    margin-top: 0px;
}

.amiibo{
    cursor: pointer;
    transition: all ease-out 0.2s;
    border-radius: 40px;
    
}
.amiibo:hover{
    transform: scale(1.4);
}

.amiibo-name{
    background-color: rgba(0,0,0,0.4);
    color: white;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    border-radius: 15px;
}
